<div class="header _flex-box _w-100 _p-10">
    <button mat-icon-button (click)="togglee=true">
        <mat-icon class='_material-icons'>menu</mat-icon>
    </button>
    <div class="title _material-icons">SPLITWISE</div>
    <div class="_ml-auto">
        <button mat-icon-button [matMenuTriggerFor]="more">
            <mat-icon class='_material-icons'>more_vert</mat-icon>
        </button>
    </div>
    <mat-menu #more="matMenu" yPosition="above">
        <button mat-menu-item>Add friends on Splitwise</button>
        <button mat-menu-item>Create a group</button>
    </mat-menu>
</div>




<div class="sidenav _shadow" *ngIf="togglee">
    <div class="sidenav-header">
        <div class="_flex-box _mb-10">
            <div style="background: url(/assets/images/split-wise-logo.png)" class="default-logo"></div>
            <div class="_ml-auto">
                <button mat-icon-button (click)="togglee = false">
                    <mat-icon>arrow_back_ios</mat-icon>
                </button>
            </div>
        </div>
        <div style="font-weight: 500">Vishnu</div>
        <div style="font-size: 14px">vishu@gmail.com</div>
    </div>
    <div class="sidenav-cont">
        <div *ngFor="let item of list" class="items">
            <button mat-button class="_w-100">
               <mat-icon>{{item.imageUrl}}</mat-icon> {{item.name}}
               {{item.link}}
            </button>
        </div>
    </div>
</div>
