@import "../../../assets/css/variables";

.main-div {
  height: calc(100vh - 110px);
  width: 100%;
  overflow: auto;
  // background-color: rgb(255, 255, 255);
  background: linear-gradient(to right, #eaf5f8 0%, #eceae7 100%);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.group-cont {
  display: flex;
  height: 60vh;
  width: 50vw;
  margin-top: 20px;
  flex-direction: column;
  text-align: left;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 0 rgb(165, 162, 162);
}

.background-group-name {
  width: 100%;
  font-weight: 500;
  border-top-right-radius: 10px;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center;
}
.background-namePhone-list {
  // width: 500px;
  width: 100%;
  // background-color: #ffd40091;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 5px;
  overflow: auto;
}
.background-namePhone-individual {
  padding: 10px;
  margin-bottom: 5px;
  // border-bottom: 1px dotted rgb(206, 136, 5);
  display: flex;
  align-items: center;
}

p {
  display: none;
  // background: linear-gradient(to right, #0099cc 0%, #ff6600 100%);
  background: linear-gradient(to right, #5f6769 0%, #92908e 100%);
  padding: 20px;
}

.gName:hover p {
  display: inline;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  padding: 1px 3px;
}
.circle-box-sizee {
  padding: 10px 16px;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 100%;
  border: 3px solid #009999;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
