<ng-container *ngIf="!isAddExpns">
    <app-main-header></app-main-header>
<div class="header">
    <mat-tab-group mat-stretch-tabs animationDuration="0ms" class="example-stretched-tabs
     custom-lable  .mat-tab-header">
        <mat-tab label="Friends">
            <app-friends></app-friends>
        </mat-tab>
        <mat-tab label="Groups">
            <app-groups></app-groups>
        </mat-tab>
        <mat-tab label="Activity">
            <app-activity></app-activity>
        </mat-tab>
    </mat-tab-group>
</div>
</ng-container>

<app-add-expense *ngIf="isAddExpns"></app-add-expense>


<app-fab-add-expense (click)="isAddExpns = true" *ngIf="!isAddExpns"></app-fab-add-expense>
