<div class="header _flex-box _w-100 _p-10">
   <button mat-icon-button>
    <mat-icon class='_material-icons'>menu</mat-icon>
   </button>
    
   <div class="title _material-icons" >SPLITWISE</div>
   
    <div class="_ml-auto">
        <button mat-icon-button>
            <mat-icon class='_material-icons'>more_vert</mat-icon>
        </button>
    </div>
</div>
<div class="header">
    <mat-tab-group mat-stretch-tabs animationDuration="0ms" class="example-stretched-tabs
     custom-lable  .mat-tab-header">
        <mat-tab label="Friends">
                <app-friends></app-friends>
        </mat-tab>
        <mat-tab label="Groups">
            <app-groups></app-groups>
        </mat-tab>
        <mat-tab label="Activity">
            <app-activity></app-activity>
        </mat-tab>
      </mat-tab-group>
</div>