@import '../assets/css/variables';

.header {
    background-color: $app-theam;
}


.title {
    letter-spacing: 8px;
}


::ng-deep .custom-lable .mat-tab-label{
    color: white !important; 
    font-weight: 600; 
}