<div class="header _flex-box _w-100 _p-10">
    <button mat-icon-button (click)="goBack.emit()">
        <mat-icon class='_material-icons'>arrow_back</mat-icon>
    </button>
    <div class="title _material-icons _margin_left">ADD EXPENSE</div>
    <div class="_ml-auto">
        <button mat-icon-button [matMenuTriggerFor]="more">
            <p class='_material-icons'>SAVE</p>
        </button>
    </div>
</div>


<form class="example-form">
    <div class="_w-100 _flex-box _p-10" style="border-bottom: 1px solid gray">
            <label> With you and: </label>
            <input type="text" placeholder="name" class="_custom-input">
    </div>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
</form>